// Default variables.
@import "default-variables";

// Bootstrap Framework.
@import '../bootstrap/assets/stylesheets/bootstrap';

// Base-theme overrides.
@import 'overrides';

h1.title.page-title {
  color: #186fa5;
  font-size: 50px;
  font-weight: bold;
}