.product {
  @include wrapper;
  padding: 50px;
  border: 2px solid;
  display: flex;

  h1 {
    font-size: 32px;
    font-family: "Assistant";
    color: rgb(0, 138, 255);
    line-height: 0.906;
  }

  .product-sku {
    font-size: 18px;
    color: rgb(52, 52, 52);
    line-height: 1.611;
  }

  .product-description {
    font-size: 18px;
    color: rgb(52, 52, 52);
    line-height: 1.222;
    text-align: justify;
  }

  hr.hr {
    border-color: rgb(241, 238, 233);
    border-width: 3px;
  }

  h3 {
    font-size: 24px;
    color: rgb(0, 138, 255);
    line-height: 1.208;
  }

  ul {
    li {
      font-size: 18px;
      color: rgb(52, 52, 52);
      line-height: 1.222;
    }
  }
}

.product-box__grid {
  @include grid;
  @include margin;
}

.product-grid-item {
  @include grid-item(2);
}
